body {
    margin: 0px;
    font-familY: sans-serif;
}

.main {
    max-width: 500px;
    margin: 0px auto;
    padding: 1em;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

.slot {
    background-color: #B8B8B8;
    padding-bottom: calc(99%);
    position: relative;
}

.slot-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}